.desktop {
  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (max-width: 769px) {
    display: none;
  }
}

.mobile {
  @media screen and (max-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 769px) {
    display: none;
  }
}
