/* Style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Roboto, Arial, sans-serif;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.loading__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.561);
  cursor: default;
  z-index: 999;
}
